body {
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
  overflow: hidden;
  font: 10px sans-serif;
}


.c3-bar {
    stroke: black !important ;
    stroke-opacity: 0.5;
    stroke-width: 1 !important ;
}

.bin rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bin text {
  fill: #fff;
}

.keyValueTable {
  display: inline-block;
}

.keyValueTable td {
  font: 11px sans-serif;
  text-align: right;
  padding: 2px;
}

.keyValueTable .value {
  padding-left: 10px;
}

.keyValueTable .key {
  border-right: 1px solid #ccc;
  padding-right:10px;
}

/* graph */

.node {
  fill: #ccc;
  stroke: #777;
  stroke-width: 1px;
}

.link {
  stroke: #777;
  stroke-width: 1px;
}

.arrowHead {
  fill: #555;
}

/* table */

.slick-row:hover {
    font-weight: bold;
    color: #069;
}
